<!DOCTYPE html>
<html lang="en">

  <head>

    <%- include("../partials/head")%>

  </head>
  
  <body>
    
    <%- include("../partials/header")%>

    <h1>Su categoria se edito OK</h1>
    <br>
    <a href="/products/categories">Ir a Listado de categorias</a>


    <%- include("../partials/footer")%>

    <%- include("../partials/scripts")%>

  </body>

</html>
