<!DOCTYPE html>
<html lang="en">

<head>
    
    <%- include("../partials/head")%>
    
</head>

<body>
    
    <%- include("../partials/header")%>
    
    <div class="container">
        <div class="row">
            
            <h4 class="col-12">Listado de Colores</h4>
            
            
            <section class="col-12 col-sm-6 col-md-4 col-lg-3">
                <article>

                    <h6> ID:  </h6>       
                    <h6> Nombre:  </h6>

                </article>

                <article>

                    <a href=""><button type="button" class="btn btn-outline-success btn-sm">Modificar</button></a>
                    <a href=""><button type="button" class="btn btn-outline-success btn-sm">Eliminar</button></a>

                </article>
                
            </section>               
            
            
        </div>
    </div>
    <br>

    <div class="container">
        <div class="row">

            <a href="/products/newColor"><button type="button" class="btn btn-outline-success btn-sm">Agregar color nuevo</button></a>
                            
        
        </div>
    </div>
    
    <%- include("../partials/footer")%>
    
    <%- include("../partials/scripts")%>
    
</body>

</html>