<!DOCTYPE html>
<html lang="en">

  <head>

    <%- include("../partials/head")%>

  </head>
  
  <body>
    
    <%- include("../partials/header")%>

    <h1>El color fue borrado con exito</h1>
    <br>
    <a href="/products/colors">Ir a la lista de colores</a>

    <%- include("../partials/footer")%>

    <%- include("../partials/scripts")%>

  </body>

</html>
