<!DOCTYPE html>
<html lang="en">

    <head>

        <%- include("../partials/head")%>

    </head>

    <body>

        <%- include("../partials/header")%>
        
        <div class="container containerRegistration">
            <div class="login-container">
                
                <div class="register">

                    <h4>Agregar categoria nueva</h4>
                    
                    
                    <form action="/products/categories/newCategory" method="POST">

                        <input type="text" placeholder="Escribí el nombre de la categoría" class="nombre" name="name">

                        <input type="submit" class="submit" value="AGREGAR">

                    </form>
                </div>
            </div>
        </div>

        <%- include("../partials/footer")%>
        
        <%- include("../partials/scripts")%>
        
    </body>

</html>