<!DOCTYPE html>
<html lang="en">

    <head>

        <%- include("../partials/head")%>

    </head>

    <body>

        <%- include("../partials/header")%>
        
        <div class="container containerRegistration">
            <div class="login-container">
                
                <div class="register">

                    <h4>Agregar nuevo color</h4>
                    
                    <form id='nuevoColor' action="/products/colors/newColor" method="POST">

                        <input type="text" placeholder="Escribí el nombre del color" class="nombre" name="name">

                        <input type="submit" class="submit" value="AGREGAR">

                    </form>
                </div>
            </div>
        </div>

        <script src="/javascripts/colorOK.js"></script>

        <%- include("../partials/footer")%>
        
        <%- include("../partials/scripts")%>
        
    </body>

</html>