<!DOCTYPE html>
<html lang="en">

  <head>

    <%- include("../partials/head")%>

  </head>
  
  <body>
    
    <%- include("../partials/header")%>

    <h1>Su producto se edito OK</h1>
    <br>
    <a href="/products">Ir a Listado de productos</a>


    <%- include("../partials/footer")%>

    <%- include("../partials/scripts")%>

  </body>

</html>
