.products-title {
  margin-left: 15px;
  
}

.product-detail {  
  border-radius: 8px;
  overflow: hidden;
}

.buy-now-button {
  background-color: var(--light-blue);
  font-size: 1.6em;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
  background-color:blue;
}

.form-label {
  display: inline-block;
  font-size: 1.6em;
  margin: 10px 0;
}

.form-input {
  display: block;
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
  font-size: 1.5em;
  border-radius: 8px;
  border: none;
  border: solid 1px var(--gray);
  padding: 0 15px;
}

.form-control-file {
  margin-left: 15px;
}

textarea.form-input { 
  min-height: 140px;
  resize: vertical;
  padding: 15px;
  width: -webkit-fill-available;
}

.products-wrapper label {
  margin-left: 15px;
}

