.products-title {
  margin-left: 15px;
  
}

.product-detail {  
  border-radius: 8px;
  overflow: hidden;
}

.buy-now-button {
  
  font-size: 1em;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 8px;
  background-color:var(--color-verde-claro);
  border: #077a21;
}

.form-label {
  display: inline-block;
  font-size: 1em;
  margin: 10px 0;
}

.form-input {
  display: block;
  width: 75%;
  height: 30px;
  margin-bottom: 15px;
  font-size: 1em;
  border-radius: 8px;
  border: none;
  border: solid 1px var(--gray);
  padding: 0 15px;
}

.form-control-file {
  margin-left: 15px;
}

textarea.form-input { 
  min-height: 100px;
  resize: vertical;
  padding: 15px;
  width: 75%;
}

.products-wrapper label {
  margin-left: 15px;
}

#linkCat a{
  color: var(--color-verde-claro);
}

