.container {
    font-family: 'Open Sans Condensed', sans-serif;
}
form, h5, h2, h4, h6, p {
    
    color: var(--color-verde-oscuro);
    
}
form h5 {
    font-weight: bold;
   
}


.container h2 {
    font-size: x-large;
}
.container label {
    font-size: small;
}

.especificaciones
{
    text-align: center;
    margin-top: 3%;
}

.datosPrincipales{
    text-align: center;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.imagenSecundaria{
    height: 80%;
    width: 100%;    
}

.fila1{
    height: 70vh;
    padding-bottom: 1%;
}

.fila2{
    padding-top: 1%;
    padding-bottom: 1%;
}

.mediosPago{
    max-width: 40%;
    align-items: flex-end;
}

.precio{
    display: inline;
}

.imagenPrincipal{
    height: 90%;
    width: 90%;
    max-width: 50vw;
    max-height: 80vh;
}

.imagenesSecundarias{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    height: 100%;
}

.imagenesSecundarias img
{
    width: 100%;
    height: 33%;
}

.imagenes
{
    width: 100%;
    padding-top: 1%;
}

.articulosTambien{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

section h4 {
        color: var(--color-verde-oscuro);
}
section h5 {
    color: #13b738;
}
section h6 {
    color: var(--color-verde-oscuro);
}

.tambien
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 3%;
}

.articulosTambien a{
    display: contents;
}

.articuloTambien{
    text-align: center;
}