<!DOCTYPE html>
<html>
  <head>
    <title>Juan</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Esta es la Index</h1>


    <a href="products">Listado Productos</a>
    <br>
    <a href="users">Listado usuarios</a>
 
  </body>
</html>
