<!DOCTYPE html>
<html lang="en">
    <head>

        <%- include("./partials/head")%>

    </head>
    <body>

        <%- include("./partials/header")%>
        
        <section class="container">
            <div class="row">
                <div class="col-12 title">
                    <h4 class="products-title">Formulario de carga de productos</h4>
                </div>
                <div class="col-12 products-wrapper">
                    <form action="/products/newProduct" method="post">
                        <div class="row product-detail">
                            <div class="col-12 col-md-6">
                                <label for="name" class="form-label">Nombre del producto:</label>
                                <input type="text" id="name" name="name" class="form-input">
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="price" class="form-label">Precio del producto:</label>
                                <input type="text" id="price" name="price" class="form-input">
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="category" class="form-label">Categoría:</label>
                                <select name="category" id="category" class="form-input">
                                    <option value="bazar">Bazar</option>
                                    <option value="deco">Deco</option>
                                </select>
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="color" class="form-label">Color:</label>
                                <select name="color" id="color" class="form-input">
                                    <option value="unico">Unico</option>
                                    <option value="multiple">Multiple</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <label for="description" class="form-label">Descripción:</label>
                                <textarea name="description" id="description" class="form-input" placeholder="Decribí tu producto..."></textarea>
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="stock">Cantidad</label>
                                <input class="form-input" type="number" min="1" value="1" name="stock">
                            </div>
                            <form>
                                <div class="form-group">
                                    <label for="exampleFormControlFile1">Elegí las fotos del producto:</label>
                                    <input type="file" class="form-control-file" id="exampleFormControlFile1" name="imagen">
                                </div>
                            </form>
                            <div class="col-12" class="botonGuardar">
                                <button type="submit" class="buy-now-button">Guardar producto</button>
                            </div>
                        </div>
                    </form>
                </div>    
            </div>
        </section>
        
        <%- include("./partials/footer")%>

        <%- include("./partials/scripts")%>

    </body>

</html>