<html>

<head>


</head>

<body>

    <h1>Listado de productos</h1>

    <a href="/products/detailProduct">Detalle de Producto</a>
    <br>
    <a href="/products/newProduct">Alta de Producto</a>
    <br>
    <a href="javascript:history.back()"> Volver Atrás</a>


</body>


</html>