<html>

<body>

    <h1>Listado de usuarios</h1>

    <a href="/users/carrito">Ir al carrito</a>
    <br>
    <a href="/users/registration">Registrate</a>
    <br>
    <a href="javascript:history.back()"> Volver Atrás</a>

</body>


</html>