
    <div id="wrapper">
        <div class="container containerFooter">
            <footer class="pt-4 my-md-5 pt-md-5 border-top">
                <div class="row">
                    <div class="col-12 logofooter">
                        <a href="#"><img src="/images/logo-la-buhardilla.jpeg" alt width="100" height="70"></a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 navegacion">
                        <p class="titulosfooter">Navegacion</p>
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/products">Productos</a></li>
                            <li class="nav-item"><a class="nav-link" href="/users">Usuarios</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 contactanos">
                        <p class="titulosfooter">Contactanos</p>
                        <i class="fas fa-phone-square-alt"> 011 4827-4381</i>
                        <i class="fas fa-envelope">pedidoslabuhardilla@gmail.com</i>
                        <i class="fas fa-map-marked-alt"> Juncal 2750 - CABA</i>
                    </div>
                    <div class="col-12 col-md-12 col-lg-4 redes">
                        <p class="titulosfooter">Nuestras redes</p>
                        <div class="iconos">
                            <a href="https://www.facebook.com/labuhardilla.decora/"><i class="fab fa-facebook-square"></i></a>
                            <a href="https://www.instagram.com/labuhardilladecora/?hl=es-la"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.pinterest.es/labuhardilladec/"><i class="fab fa-pinterest-square"></i></a>
                            <a href="https://api.whatsapp.com/send?phone=1561575112&text=mensaje"><i class="fab fa-whatsapp-square"></i></a>
                        </div>
                        <div class="row news">
                            <p>Newsletter</p>
                            <input  type="email" name="email" placeholder="email@email.com">
                            <input class="btn btn-light btn-sm" type="submit" value="Enviar">
                        </div>
                    </div>
                </div>
            </footer>
            <div class="footer-copyright text-center text-black-50 py-3">
                <p>Desarrollado por: Laura Marifil - Juan Ignacio Cardozo - Bryan Ronzano</p>
            </div>
        </div>
    </div>
