
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>La Buhardilla</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Stylesheet -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- New Product Stylesheet -->
  <link rel="stylesheet" href="/stylesheets/newProduct.css">
  <!-- Registration Stylesheet -->
  <link rel="stylesheet" href="/stylesheets/registration.css">
  <!-- Cart Stylesheet -->
  <link rel="stylesheet" href="/stylesheets/styleCarrito.css">
  <!-- Product Detail Stylesheet -->
  <link rel="stylesheet" href="/stylesheets/styleDetailProduct.css">
  <!-- Users Stylesheet -->
  <link rel="stylesheet" href="/stylesheets/users.css">
  <!-- Products Stylesheet -->
  <link rel="stylesheet" href="/stylesheets/products.css">
  <!-- Footer Stylesheet -->
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <!-- Home Stylesheet -->
  <link rel="stylesheet" href="/stylesheets/style.css">