  <header>

    <div class="container d-flex justify-content-between">
      <!-- Collapsed Sidebar -->
      <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/">Home</a>
        <a href="/products">Productos</a>
        <a href="/users">Usuarios</a>
      </div>

      <div id="main">       
        <button class="openbtn" onclick="openNav()">&#9776; <a href="/" class="logo"><img height="100" width="150" src="/images/logo-la-buhardilla.jpeg" alt=""></a></button>       
      </div>

      <!-- Search bar -->
      <form action="/products/searchProduct" class="busqueda" method="GET" id="search">
        <input type="text" placeholder="¿Qué buscás?" id="searchText">
        <button type="submit"><i class="fas fa-search"></i></button>
      </form>
      
      <!-- Login/Cart -->
      <ul class="usuario" type="none">
       
        <li><a href="/users/login"><i class="far fa-user"></i> Mi cuenta </a></li>
        <li><a href="/users/carrito"><i class="fas fa-shopping-cart"></i> Carrito</a></li>
        <li><a href="/users/logout"><i class="fas fa-sign-out-alt"></i>Cerrar sesión</a></li>

      </ul>

    </div>
    
  </header>