<!DOCTYPE html>
<html lang="en">

    <head>

        <%- include("../partials/head")%>

    </head>

    <body>

        <%- include("../partials/header")%>
        <h1>El usuario fue editado con exito</h1>
        <br>
        <ul>
        <li><a href="/users">Ir a la lista de usuarios</a></li>
        <li><a href="/users/login">Iniciar sesión</a></li>
        </ul>    
        <%- include("../partials/footer")%>
        
        <%- include("../partials/scripts")%>
        
    </body>

</html>