<!DOCTYPE html>
<html lang="en">

    <head>

        <%- include("../partials/head")%>

    </head>

    <body>

        <%- include("../partials/header")%>

        <h1>El usuario fue agregado con exito</h1>
        <br>
        <a href="/users">Ir a la lista de usuarios</a>

        <%- include("../partials/footer")%>
        
        <%- include("../partials/scripts")%>
        
    </body>

</html>